{
  order http_cache before reverse_proxy
}


http://0.0.0.0/providers/mgp/*,  http://localhost/providers/mgp/* {
  uri strip_prefix /providers/mgp
  http_cache {
     cache_type in_memory 
     match_methods GET POST
     cache_key {http.request.host}{http.request.uri.path}{http.request.uri.query}:{http.request.body}
  }
  reverse_proxy {$MGP_API_URL} {
    header_up -X-Forwarded-For
    header_up -X-Forwarded-Host
    header_up -X-Forwarded-Proto
    header_up -cache-control
    header_up Host {upstream_hostport}
    header_down -pragma
  }
}

